.App {
  text-align: center;
  background-image: url('../src/img/fondoCuerpo.png');
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.App-NavbarBlack{
  background-color: black !important;
  color: rgba(255,255,255,0.6);
  font-size: 15px;
  padding: 15px 0;
  transition: all 0.4s;
}

.App-NavbarBlack li:active{
  background-color: white !important;
}
.App-header {
  background-image: url('./img/fondoCuerpo.png');
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: black;
}

.App-header-signDriver {
  background-image: url("../src/img/body_register_two.jpg");
	background-position: center center;
	background-size: cover;
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 150px;
	padding-top: 130px;
  color: white;    
  text-align: left;
}

.App-header-signUser {
  background-image: url("../src/img/body_login.jpg");
	background-position: center center;
	background-size: cover;
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 150px;
	padding-top: 150px;
  color: white;    
  text-align: left;
}
.App-header-main {
  background-image: url("../src/img/taxi-online-smartphone-mobile-app-concept_52246-47.jpg");
	background-position: center center;
	background-size: cover;
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 200px;
	padding-top: 280px;
  color: white;    
  text-align: left;
}

.App-header-services{
	width: 100%;
	height: auto;
	padding-bottom: 150px;
	padding-top: 150px;
  color: black;    
  text-align: left;
}
.App-box-services{
  width: 100%;
	height: auto;
	padding-bottom: 50px;
	padding-top: 50px;
}

.usuario_open{
  background-image: url("../src/img/gray_sand.png");
}

.App-align-center{
  padding-top: 150px;
  padding-bottom: 100px;
  align-items: center;
  align-content: center;
}
.btn-circle.btn-xl {
  background: orange;
  color: white;
  width: 180px;
  height: 180px;
  padding: 10px 16px;
  border-radius: 100px;
  font-size: 24px;
  line-height: 1.33;
}

.map-container {
  height: 500px;
  width: 100%;  
}

.App-header-mainTaxi{
  background-image: url("../src/img/map-D2x_v2.webp");
  width: 100%;
  height: auto;
  padding-bottom: 150px;
  padding-top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-redondo{
  width:250px;
  height:250px;
  background-color:#ee7626 !important;
  margin: 5px !important;
  padding:10px !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 200px !important;
  font-size:18px !important;
  line-height:32px !important;
  text-transform: uppercase !important;
  float:left;
}
.boton-redondo-gris{
width:250px;
height:250px;
background-color:#b6b4b3 !important;
margin: 5px !important;
padding:10px !important;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 200px !important;
font-size:18px !important;
line-height:32px !important;
text-transform: uppercase !important;
float:left;
}
.App-padding-top{
  padding-top: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}


.spinner div{
  height:50px;
  width:20px;
  display:inline-block;
  background-color: #56bbdb;
  border:1px solid #217c99;
  -webkit-animation:spinner_loader 1.3s linear infinite;
  -moz-animation:spinner_loader 1.3s linear infinite;
  animation:spinner_loader 1.3s linear infinite;
  -webkit-transform:scale(0.91);
  -moz-transform:scale(0.91);
  transform:scale(0.91);
}

spinner div:nth-child(1){
  -webkit-animation-delay:0.39s;
  -moz-animation-delay:0.39s;
  animation-delay:0.39s;
}
.spinner div:nth-child(2){
  -webkit-animation-delay:0.52s;
  -moz-animation-delay:0.52s;
  animation-delay:0.52s;
}
.spinner div:nth-child(3){
  -webkit-animation-delay:0.65s;
  -moz-animation-delay:0.65s;
  animation-delay:0.65s;
}

@-webkit-keyframes spinner_loader{
  0%{
       -webkit-transform:scale(1.2);
       opacity:1
  }
  100%{
       -webkit-transform:scale(0.7);
       opacity:0.1
  }
}
@-moz-keyframes spinner_loader{
  0%{
       -moz-transform:scale(1.2);
       opacity:1
  }
  100%{
       -moz-transform:scale(0.7);
       opacity:0.1
  }
}
@keyframes spinner_loader{
  0%{
       transform:scale(1.2);
       opacity:1
  }
  100%{
       transform:scale(0.7);
       opacity:0.1
  }
}
